= form_for(definition) do |f|
  - if definition.errors.any?
    #error_explanation
      %h2
        = pluralize(definition.errors.count, "error")
        prohibited this definition from being saved:
      %ul
        - definition.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :word
    = f.text_area :word
  .field
    = f.label :meaning
    = f.text_area :meaning
  .field
    = f.label :sample
    = f.text_area :sample
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit
