!!!
%html
  %head
    %title MyDictionary
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 	 'bootswatch'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
